<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dataqin.testnew">

    <!-- 系统 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 麦克风 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 存储空间 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup,android:icon,android:theme,android:label"
        tools:targetApi="m">

        <meta-data
            android:name="design_width_in_dp"
            android:value="750" />

        <meta-data
            android:name="design_height_in_dp"
            android:value="1334" />

        <!-- 高德key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="42bee6a932268088f48093512149053f" />

        <!--        &lt;!&ndash; 个推appid &ndash;&gt;-->
        <!--        <meta-data-->
        <!--            android:name="PUSH_APPID"-->
        <!--            android:value="个推SDK的appid" />-->

        <activity
            android:name=".activity.SplashActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/splashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 启动页 -->
        <activity
            android:name=".activity.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/splashTheme" />

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/splashTheme" />

        <activity
            android:name=".activity.ScaleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/scaleTheme" />
        <!-- ******************************************************服务****************************************************** -->
        <!-- 高德地图 -->
        <service android:name="com.amap.api.location.APSService" />
        <!-- ******************************************************解决安卓N+跳系统安装闪退****************************************************** -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.dataqin.testnew.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!-- ******************************************************解决安卓N+跳系统安装闪退****************************************************** -->

    </application>

</manifest>